@{
    ViewData["Title"] = "Pantalla de Inicio";
}
@*<h1>@ViewData["Inicio"]</h1>
*@
@*<body style="background-color:#87CEEB">
*@
<body>
    <div style="color: #FF6347">
        <p  >Esta es la página de inicio, información variada...</p>
    </div>

</body>
